:root {
    --primary-color: #fff;
    --currency-color:#3A1736;
    --container-color:#8F3985;
    --swap-button-color: #4E0329;
    --body-background-color:rgb(57, 23, 53);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--body-background-color) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin:0;
}

.container {
    padding: 30px;
    border-radius: 5px;
    width: 50% !important;
    background-color: var(--container-color);
}

.container .title {
    color: var(--primary-color);
}


.container .instruction {
    margin-bottom: 8px;
    text-align: center;
    color: var(--primary-color);   
}

.currency {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.label {
    width:30% !important; 
    background-color: var(--currency-color) !important;
    color: #fff !important;
}

.currency-value {
    width: 70% !important;
    text-align: right;
    text-overflow: ellipsis;
}

.swap-rate-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.swap-button {
    background-color: var(--swap-button-color) !important;
    color: #fff;
    
}

.rate {
    color: var(--primary-color);
    font-size: 20px;
    padding: 0 10px;
}


.date {
    color: #fff;
    display: flex;
    justify-content: flex-end; 
    margin: 20px 0;
}

select:focus, input:focus, button:focus {
    outline: 0;
}

@media(max-width: 600px) {
    .currency input {
        width:200px;
    }
}